.navbar__main {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    max-width: 15rem;
    min-height: 100vh !important;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #000000;
    opacity: 0.9;
}

.navbar__brand {
    color: #ffffff;
    font-weight: 300;
    padding: 2rem 1.1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    opacity: 0.7;
}

.navbar__brand h3{
    font-family: revert;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

.navbar__items {
    width: 100%;
}
.navbar__items a {
    width: 100% !important;
    color: #ffffff;
    font-family: revert;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    line-height: 1.5rem;
}

.navbar__items a:hover{
    border-left: 3px solid #00ccff;
    padding-left: 3.5rem;
    font-size: 1.05rem;
    background-color: #252525;
    color: #ffffff;
    text-decoration: none;
}